version: "3"

services:
  # Grafana
  grafana:
    image: grafana/grafana:latest@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    ports:
      - "3001:3000"
    volumes:
      - ../dist:/strava-datasource
      - ./grafana.ini:/etc/grafana/grafana.ini:ro
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=grafana
      - GF_FEATURE_TOGGLES_ENABLE=externalServiceAccounts
